*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.head1{
    margin: 30px 50px 170px 50px;
    border-radius: 5px;
}

.head{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-size: 23px;
  font-style: normal;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 39, 75);
    padding: 50px 20px 50px 20px;
    color: azure;
}

select{
    width: 70px;
}

.head label{
    padding: 5px 0px 5px 0px;
}

.head input{
    border-radius: 3px;
    height: 24px;
    width: 15rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-size: large;
    font-style: normal;
    padding-left: 7px;
}

#submit{
    margin-top: 20px;
    height: 50px;
    width: 10rem;
    font-size: large;
    background-color: aquamarine;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 23px;
    font-style: normal;
    border-radius: 7px;
}